name: Deploy Workers

on:
  push:
    paths:
      - 'digital-health-cartoon/cloudflare-worker/**'
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Deploy

    steps:
      - uses: actions/checkout@v4

      - name: Publish Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --config digital-health-cartoon/cloudflare-worker/wrangler.toml